<% if @posts.any? %>
    <h2>Posts:</h2>
<% else %>
  	<strong>В данный момент, эта страница пуста!</strong>
  	<p>
  		<%= link_to 'Create New', new_post_path %>	
	</p>
<% end %>

<%= flash[:notice] %>

<% @posts.each do |post| %>
 <div class="posts"> 
	<div class="title">
		<%= link_to post.title, post %>
	</div>

	<div class="text">
		<%= simple_format(post.text.truncate(200)) %>
	</div>
	   <ul>
		<% if admin? %>
			<div id="editButton" class="buttons">
				<li><%= link_to 'Edit', edit_post_path(post) %></li>
			</div>
		   <div id="delButton" class="buttons">
			<li><%= link_to 'Delete', post_path(post), method: :delete, 
										data: {confirm: "Really?"} %></li>
			</div>

		<% end %>
		</ul>
</div>
  

<% end %>